<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="cc6af49b-22dc-4a6b-a4cf-2a7ff5205099" Publisher="CN=Victoria" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="cc6af49b-22dc-4a6b-a4cf-2a7ff5205099" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CBT_Helper</DisplayName>
    <PublisherDisplayName>Victoria</PublisherDisplayName>
    <Logo>Assets\thoughtBubble50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CBT_Helper.App">
      <m3:VisualElements DisplayName="CBT Helper" Square150x150Logo="Assets\thoughtBubble150x150.png" Square44x44Logo="Assets\thoughtBubble44x44.png" Description="CBT Helper provides a convenient way to track your Thought Records, without needing a paper and pencil." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\thoughtBubble71x71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen480x800.png" BackgroundColor="transparent" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>